@media(orientation:landscape){
    body{
        /* background-size: 1366px 1024px;  */
        background-size: 100vw 100vh; 
    }
}
@media(orientation:portrait){
    body{
        /* background-size: 1024px 1366px;  */
        background-size: 100vw 100vh; 
    }
}
body {
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light Gray */
    color: #f9efef;
 /*   background-image: url('https://images.pexels.com/photos/1146706/pexels-photo-1146706.jpeg'); */
    background-image: url('https://imgur.com/6af051K.png');
    background-repeat: no-repeat;
    background-color:white;
}  

header {
    position: absolute,center;
    top:0;
    left: 200;
    text-align:center;
    padding: 1.5vh;
    font-size: 2.0vw;
}
.header2{
    position: absolute,center;
    top:0;
    left: 200;
    text-align:center;
    padding: 1.5vh;
    font-size: 2.0vw;
}
h1 {
    margin: 5vh;
    /* font-size: 2.5vw; */
    font-weight: 600;
    color: #d5d5d5  ;
}
h2{
    text-align:center;
    font-size:4.0vh;
    /* font-weight: 700; */
}
main {
    margin: 1.5vh;
    font-family: "Dancing Script", cursive;
}

.welcome-section, .content-section, .content-section1,.content-section2,.content-section3 {
    padding: 1.0vh;
    border-radius: 120px;
    color: #d5d5d5;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-bottom: 20vh;
    position:relative;
}
.welcome-section{
    /* font-size: 2.0em; */
    /* font-weight: bold;
    top:0; */
}
.content-section{
    /* font-size:1.00em; */
}
h2 {
    color: #d5d5d5; /* Medium Pink */
    font-family: "Dancing Script", cursive;
}

p{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 3.5vh;

}
footer {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1vh;
    font-family: "Dancing Script", cursive;
    /* font-size: 0.70em; */
    font-weight:750;
    position:absolute; 
    float: bottom,center;
    bottom:0;
    left:40%;
    right:40%;
}
.img1{
    width:auto;
    height:auto;
    float:left;
    bottom:0;
    left:0;
    position:fixed;
}
.img2{
    width: auto;
    height:auto;
    float: right;
    bottom:0;
    right:0;
    position:fixed;
}
/* .removeblack {
    width: 100px; 
    height: 100px; 
    float:bottom;
    background-color: #f8f8f8;
    top: -100px;
} */
#back-next{
    font-size: 7vh;
    position: fixed;
    bottom:2%;
    left: 40%;
    right: 40%;
}
.cute-cat{
   width: auto;
   height:auto;
   float: center;
   margin-top: 5vh;
   margin-left: 31vw;
}
/* .bg-put-screen{
    background-image: url('https://i.imgur.com/TcMZZFM.jpg');
    background-repeat: no-repeat;
    background-color:white;
    background-size: 100vw 100vh;
} */